.home-header {
  width: 100vw;

  color: whitesmoke;
  background-color: var(--clr-purple);
  border-bottom: 1px solid var(--clr-dark-purple);
  margin: 0;
  padding: 0.5rem 0;
  text-align: center;
}

.home-grid {
  background-color: white;
}

@media (min-width: 1200px) {
  .home-header {
    color: var(--clr-dark-purple);
    background-color: white;
  }

  .home-grid {
    height: calc(100% - 4.063rem);
    display: grid;

    grid-template-columns: 33% 33% 33%;
    grid-template-areas: "bmi main mealpro";

    background-color: var(--clr-purple);
  }

  .home-bmi {
    grid-area: bmi;
  }

  .home-main {
    grid-area: main;
  }

  .home-mealpro {
    grid-area: mealpro;
  }

  .home-bmi,
  .home-main,
  .home-mealpro {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.home-options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.option {
  width: 100%;
}

.card {
  border-radius: 0;
  border-color: var(--clr-green) transparent;
}

@media (min-width: 1200px) {
  .card {
    border-radius: 0.25rem;
    border-color: var(--clr-green);
  }
}

@media (min-width: 1200px) {
  @media (max-width: 1699px) {
    .bmi-calc {
      width: 80%;
    }
  }
}

.measurements {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.btn-primary {
  background-color: var(--clr-dark-purple);
  border-color: var(--clr-dark-purple);
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
  background-color: var(--clr-dark-purple-a);
  border-color: var(--clr-dark-purple-a);
}

.btn-primary:focus {
  box-shadow: 0 0 0 0.25rem var(--clr-purple);
}

.btn-secondary {
  background-color: var(--clr-green);
  border-color: var(--clr-green);
  font-size: 0.7rem;
}

.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary.active,
.btn-secondary:focus {
  background-color: var(--clr-dark-green);
  border-color: var(--clr-dark-green);
}

.btn-secondary:focus,
.btn-secondary.active:focus {
  box-shadow: 0 0 0 0.25rem var(--clr-light-green);
}

iframe {
  width: 100%;
  height: 700px;
}

@media (min-width: 1200px) {
  iframe {
    height: 400px;
  }
}

.mealpro-container {
  background-color: var(--clr-green);
  padding: 0.5rem;
}

.mealpro {
  color: whitesmoke;
  text-align: center;
}

.mealpro-padding {
  padding: 0.5rem;
}

@media (min-width: 1200px) {
  .mealpro-padding {
    padding: 0;
  }
}

.virtual-gym-background {
  background-image: url("../../assets/images/home/virtualgym.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
