/* Navbar */
.navbar-nav {
  display: grid;

  grid-template-rows: 5rem;
  grid-template-columns: 50% 50%;
  grid-template-areas: "signup login";
}

.navbar-nav .nav-link {
  padding: 1rem 2rem;
  font-size: 1rem;
}

.navbar-grid-signup {
  grid-area: signup;
}

.navbar-grid-login {
  grid-area: login;
}

.navbar-grid-signup,
.navbar-grid-login {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .navbar-nav {
    grid-template-rows: 3rem;
    gap: 0.5rem;
  }

  .navbar-nav .nav-link {
    font-size: 1.2rem;
  }

  .navbar-nav .nav-link {
    padding: 0.5rem 1rem;
  }
}

/* Main Display */
.landing-hero {
  height: 45vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media (min-width: 826px) {
  .landing-hero {
    height: 55vh;
  }
}

@media (min-width: 1280px) {
  .landing-hero {
    height: 65vh;
  }
}

.one {
  background-image: url("../../assets/images/landing/workoutfromhome.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
}

@media (min-height: 700px) {
  .one {
    background-position: center;
  }
}

.two {
  background-image: url("../../assets/images/landing/easyworkout.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.three {
  background-image: url("../../assets/images/landing/workouttogether.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.landing-tagline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: whitesmoke;
  background-color: var(--clr-purple);
  font-size: 1.2rem;
  padding: 1rem;

  transition: padding 0.2s ease-in, font-size 0.2s ease-in;
}

.landing-hero:hover .landing-tagline,
.landing-hero:focus .landing-tagline {
  font-size: 1.3rem;
  padding: 1.5rem;
}

.landing-hero:hover .wfh-btn,
.landing-hero:focus .wfh-btn {
  padding: 0.7rem 1.2rem;
}

@media (min-width: 768px) {
  .landing-tagline {
    font-size: 1.5rem;
    padding: 1.2rem;
  }

  .landing-hero:hover .landing-tagline,
  .landing-hero:focus .landing-tagline {
    font-size: 1.6rem;
    padding: 1.7rem;
  }

  .landing-hero:hover .wfh-btn,
  .landing-hero:focus .wfh-btn {
    padding: 0.9rem 1.4rem;
  }
}

@media (min-width: 1280px) {
  .landing-tagline {
    font-size: 1.8rem;
    padding: 1.4rem;
  }

  .landing-hero:hover .landing-tagline,
  .landing-hero:focus .landing-tagline {
    font-size: 2rem;
    padding: 1.9rem;
  }
}

@media (min-width: 1920px) {
  .landing-tagline {
    font-size: 2.2rem;
    padding: 2rem;
  }

  .landing-hero:hover .landing-tagline,
  .landing-hero:focus .landing-tagline {
    font-size: 2.4rem;
    padding: 2.2rem;
  }
}
