/* Navbar */
.navbar-nav {
  display: grid;

  grid-template-rows: 5rem;
  grid-template-columns: 50% 50%;
  grid-template-areas: "signup login";
}

.navbar-nav .nav-link {
  padding: 1rem 2rem;
  font-size: 1rem;
}

.navbar-grid-signup {
  grid-area: signup;
}

.navbar-grid-login {
  grid-area: login;
}

.navbar-grid-signup,
.navbar-grid-login {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Main Display */
.landing-hero {
  height: 45vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.one {
  background-image: url("../../assets/images/landing/workoutfromhome.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
}

.two {
  background-image: url("../../assets/images/landing/easyworkout.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.three {
  background-image: url("../../assets/images/landing/workouttogether.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.landing-tagline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: whitesmoke;
  background-color: var(--clr-purple);
  font-size: 1.2rem;
  padding: 1rem;
}
