.form-container {
  width: 100vw;
  height: 100%;

  display: grid;
  grid-template-rows: 10% 90%;
  grid-template-areas: "." "form";
}

@media (min-width: 760px) {
  .form-container {
    grid-template-rows: 100%;
    grid-template-columns: 50% 50%;
    grid-template-areas: "form .";
  }
}

.form-area {
  grid-area: form;
}

.form-area {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-info {
  width: 19.633rem;
  min-height: 23.5rem;
  background-color: white;
  padding: 2rem 1rem;
}

@media (min-width: 601px) {
  @media (min-height: 720px) {
    .form-info {
      width: 26.875rem;
      min-height: 31.375rem;

      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}

@media (min-width: 760px) {
  .form-info {
    width: 100%;
    height: 100%;

    padding: 3rem;
  }
}

.form-control:focus {
  border-color: var(--clr-dark-purple);
  box-shadow: 0 0 0 0.25rem var(--clr-purple);
}

.form-check-input:focus {
  border-color: var(--clr-dark-purple);
  box-shadow: 0 0 0 0.25rem var(--clr-purple);
}

.form-check-input:checked[type="checkbox"] {
  background-color: var(--clr-green);
  border-color: var(--clr-dark-purple);
}

.form-button {
  width: 5.316rem;
  height: 2.5rem;
  color: rgba(255, 255, 255, 0.85);
  background-color: var(--clr-dark-purple);
  text-decoration: none;
  border-style: none;
  padding: 0.5rem 1rem;
  transition: color 0.1s ease-in;
}

.form-button:hover,
.form-button:focus {
  color: whitesmoke;
}

.title {
  color: var(--clr-dark-purple);
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
}

@media (min-width: 1280px) {
  .title {
    font-size: 2rem;
  }
}

.success {
  color: var(--clr-green);
}

.error {
  color: red;
}
