/* Global */
html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  margin: auto;
  font-family: var(--font-outfit);
}

/* Container */
.layout-main-container {
  width: 100vw;

  display: grid;
  grid-template-rows: minmax(85vh, auto) 15vh;
  grid-template-areas: "main" "footer";
}

.main-area {
  grid-area: main;

  padding-top: 4.5rem;
}

/* Footer */
.footer {
  grid-area: footer;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  color: whitesmoke;
  background-color: var(--clr-green);
}

.footer-logo {
  color: whitesmoke;
  text-decoration: none;
}

.footer-logo:hover,
.footer-logo:focus {
  color: whitesmoke;
}

/* Navbar */
.navbar {
  position: fixed;
  width: 100vw;
  padding: 1rem;
}

.navbar-dark {
  background-color: var(--clr-green);
}

/* Fonts */
.bevan {
  font-family: var(--font-bevan);
}

/* Buttons */
.wfh-btn {
  color: var(--btn-clr, whitesmoke);
  background-color: var(--btn-bgc, black);
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.wfh-btn:hover,
.wfh-btn:focus {
  color: var(--btn-clr, whitesmoke);
}

.wfh-btn-green {
  --btn-bgc: var(--clr-green);
}
