/* Global */
html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  margin: auto;
  font-family: var(--font-outfit);
}

/* Navbar */
.navbar {
  position: fixed;
  width: 100vw;
  padding: 1rem;
  z-index: 999;
}

.navbar-dark {
  background-color: var(--clr-green);
}

@media (min-width: 768px) {
  .navbar {
    padding: 1rem 2rem;
  }

  .navbar-brand {
    font-size: 1.75rem;
    padding-left: 0.3125rem;
  }

  .navbar-expand-md .navbar-collapse {
    justify-content: flex-end;
  }
}

/* Container */
.layout-main-container {
  width: 100vw;

  display: grid;
  grid-template-rows: minmax(85vh, auto) 15vh;
  grid-template-areas: "main" "footer";
}

.main-area {
  grid-area: main;

  padding-top: 4.5rem;
}

.main-area-alt {
  grid-area: main;
}

@media (min-width: 768px) {
  .main-area {
    padding-top: 5rem;
  }
}

/* Footer */
.footer {
  grid-area: footer;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  color: whitesmoke;
  background-color: var(--clr-green);
}

.footer-logo {
  color: whitesmoke;
  text-decoration: none;
}

.footer-logo:hover,
.footer-logo:focus {
  color: whitesmoke;
}

@media (min-height: 920px) {
  .footer {
    font-size: 1.5rem;
  }
}

/* Fonts */
.bevan {
  font-family: var(--font-bevan);
}

/* Buttons */
.wfh-btn {
  color: var(--btn-clr, rgba(255, 255, 255, 0.85));
  background-color: var(--btn-bgc, black);
  text-decoration: none;
  border-style: none;
  padding: 0.5rem 1rem;
  transition: color 0.1s ease-in, padding 0.2s ease-in;
}

@media (min-width: 768px) {
  .wfh-btn {
    font-size: 1.3rem;
    padding: 0.7rem 1.2rem;
  }
}

@media (min-width: 1280px) {
  .wfh-btn {
    font-size: 1.6rem;
  }
}

@media (min-width: 1280px) {
  .wfh-btn {
    font-size: 2rem;
  }
}

.wfh-btn:hover,
.wfh-btn:focus {
  color: var(--btn-clr, whitesmoke);
}

.wfh-btn-green {
  --btn-bgc: var(--clr-green);
}

.wfh-btn-purple {
  --btn-clr: rgba(255, 255, 255, 0.55);
  --btn-bgc: var(--clr-dark-purple);
}

.wfh-disabled {
  cursor: default;
}

.wfh-disabled:hover,
.wfh-disabled:focus {
  color: var(--btn-clr, rgba(255, 255, 255, 0.85));
}

/* Images */
.home-gym-background {
  background-image: url("../../assets/images/homegym.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
}
