@import url("https://fonts.googleapis.com/css2?family=Bevan&family=Outfit:wght@400;700&display=swap");

:root {
  --clr-green: #1ba484;
  --clr-purple: #6646969a;
  --font-bevan: "Bevan", cursive;
  --font-outfit: "Outfit", sans-serif;
}
